<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<title>><%- title %> |NEWTEC Sarl| Page d'acceuil</title>
<link rel="stylesheet" href="css/main.css" />
<link rel="preconnect" href="htpps://fonts.googleapis.com">
<link rel="preconnect" href="htpps://fonts.gstatic.com" crossorigin>
<link href="htpps://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
