<body class="is-preload">
<div class="bloc">
		<video autoplay="autoplay" muted="" loop="infinte" src="vid.mp4"></video>
	
	<nav>
		 <a href="index.html"><img src="images/site/newtec_logo.png" class="logo"></a> 
		   <ul>
			
			<li><a href="index.html">Acceuil</a></li>
			<li><a href="#">Newtec</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact</a></li>
			 
		   </ul>
		</nav>
	
	  
		<div class="akwaba">
			<h1>
		  <strong>BIENVENUE A </strong> <span class="animation"></span>
			</h1>
	         
			<a href="#">07 09 69 02 69 </a>
		</div>
	
	</div>
	</div>
	</div>

	<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script> 


	<script>var typed = new Typed('.animation', {
		 
		strings: ['NEWTEC Sarl.'],
	 typeedSpeed:400,
	 backSpeed:200,
	 loop:true 
	}); 
	</script>

<div id="wrapper">

<div id="main">
<div class="inner">

<section class="tiles"><article class="style1">
<span class="image"><img src="images/installation_réseaux.webp" alt=""/>
</span><a href="presentation.html">
<h2>Reseaux Informatique</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div>
</a>
</article>


<article class="style2">
<span class="image">
<img src="images/cablage_electriques.webp " alt="" /></span>
<a href="presentation.html">
<h2>Système électrique</h2>
<div class="content"><p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div></a></article><article class="style3">
<span class="image"><img src="images/installation_réseaux.webp" alt="" />
</span><a href="presentation.html">
<h2>Cablage Réseaux</h2>
<div class="content"><p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p></div>
</a></article>

<article class="style4">
<span class="image"><img src="images/vente_materiels.webp" alt="" ></span>
<a href="presentation.html">
<h2>Vente consommable Informatique</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p></div>
</a></article><article class="style5"><span class="image"><img src="images/cablage_electriques.webp" alt="" /></span>
<a href="presentation.html">

<h2>Application web et mobiles</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div></a></article>

<article class="style6"><span class="image">
<img src="images/scanner_auto.webp" alt="" /></span><a href="generic.html">
<h2>Maintenance Automobiles</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div></a></article>
<article class="style2"><span class="image"><img src="images/ok6859.webp" alt="" /></span>
<a href="presentation.html">
<h2>Rénovation Batiment</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div></a></article><article class="style3"><span class="image">
<img src="images/ok78.jpeg" alt="" /></span>

<a href="presentation.html">
<h2>Installation vidéo surveillance</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
</div></a></article><article class="style1"><span class="image"><img src="images/ok4.jpeg" alt="" />
</span><a href="presentation.html">
<h2>Cameras de surveillance</h2>
<div class="content">
<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>

</div></a></article>
</section><br><br>


			 
<footer id="footer">
	<div class="inner">
		<section>
			
			<form method="post" action="#">
				<div class="fields">
					<h2>Appelez nous au (+225) 09 69 02 69 et nous passons chez nous vous</h2>
			
					<div class="field half">
						<input type="text" name="name" id="name" placeholder="Name" />
					</div>
					<div class="field half">
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div class="field">
						<textarea name="message" id="message" placeholder="Message"></textarea>
					</div>
				</div>
				<button type="submit">Envoyer</button>
			</form>
		</section>
		
		
	</div>
